.main_container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
   
  }
  
  .list_container {
    
    flex: 1;
    overflow: hidden;
  

  }
  
  .right_buttons {
    display: flex;
    gap: 10px;
    margin-left: 16px;
  }

  li{
      list-style-type: none;
      color: black;
  }
  